
body{
    margin-left: 6px !important;
    margin-right: 6px !important;
    background: rgb(3, 3, 53) !important;
}

.jumbotron{
    padding: 15em !important;
    background-image: url("mars_stuff.jpg");
    background-size: cover;
}

.jumbotron h1{
 
    color:white;
}

/* .panel{
    margin-left: 6px !important;
    margin-right: 6px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.col-md-4{
    margin-left: 6px !important;
    margin-right: 6px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
} */